#wen{
	color: rgb(195, 195, 195);
	line-height: 70px;
	font-size: 30px;
	text-align: center;
	font-family: "tahoma";
}
#hui{
	color: rgb(88, 88, 88);
	line-height: 70px;
	font-size: 30px;
	text-align: center;
	font-family: "tahoma";
}
#zs{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	text-align: center;
}
#zhuozhe{
	
}
#reload1{
	width: 60px;
	height: 40px;
	background: #c4c6d5;
	border-radius: 20px;
}
#reload1:hover{
	background-color: #b6b8c6;
	
	transition-duration: 300ms;
}
#reload1:active{
	background-color: #878993;
	transform: translateY(2px);
}